@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/app/input.css -o  ./src/app/globals.css --watch */
html,
body,
#root {
  width: 100%;
  height: 100lvh;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
}
.show {
  opacity: 100;
  visibility: visible;
  transform: translateX(0px);
}
